/* Question 1: Why is the counter value not centered? (vertically) */
/*It is not centered vertically because the properties of 'position', 'top', and 'transform' need to be applied to the counter-value element. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}

#counter-value {
  font-size: 48px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
 


 
  /* Question 2: Why is the color not applying to the counter value? */
  /*The color is not applying to the counter value because the text-emphasis property is used to apply emphasis marks to text. I added 'color' to apply a color change.*/
  color: #FF6347;
 


}
